*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   padding: 0 6%;
   background-color: #faf0f0;
   font-family: "Poppins", sans-serif;
   margin: 0 auto;
   width: 100%;
}

/* Header section */
header {
   padding: 35px 0;
}

header .container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.header_logo {
   flex: 2;
}

.header_logo span {
   font-size: 1.3rem;
   font-weight: bold;
}

.header_navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

.header_navbar > ul {
   display: flex;
}

.header_navbar > ul > li {
   list-style: none;
   padding: 0.3rem 0.5rem;
}

.header_navbar > ul > li > a {
   text-decoration: none;
   color: black;
   cursor: pointer;
   font-weight: 600;
   font-size: 0.9rem;
   transition: color 0.3s ease-in-out;
}

.header_navbar > ul > li > a:hover {
   color: gray;
}

.header_navbar .search_icon {
   margin-left: 10px;
   cursor: pointer;
}

.header_shoping_icon {
   margin-left: 20px;
   cursor: pointer;
}
