*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   padding: 0 6%;
   background-color: #faf0f0;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   margin: 0 auto;
   width: 100%;
}

section {
   padding: 100px 0;
}

/* Reuseable Class Declare here */
.row {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.column {
   width: 50%;
   flex: 1;
}

.btn_primary {
   padding: 0.4rem 1rem;
   background-color: #7c67ed;
   text-decoration: none;
   color: white;
   vertical-align: middle;
   border-radius: 50px;
   transition: all 0.4s ease-in;
   cursor: pointer;
}

.btn_primary:hover {
   background-color: #4324e9;
}

/* Header section */
header {
   padding: 35px 0;
}

header .container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.header_logo {
   flex: 2;
}

.header_logo span {
   font-size: 1.3rem;
   font-weight: bold;
}

.header_navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

.header_navbar > ul {
   display: flex;
}

.header_navbar > ul > li {
   list-style: none;
   padding: 0.3rem 0.5rem;
}

.header_navbar > ul > li > a {
   text-decoration: none;
   color: black;
   cursor: pointer;
   font-weight: 600;
   font-size: 0.9rem;
   transition: color 0.3s ease-in-out;
}

.header_navbar > ul > li > a:hover {
   color: gray;
}

.header_navbar .search_icon {
   margin-left: 10px;
   cursor: pointer;
}

.header_shoping_icon {
   margin-left: 20px;
   cursor: pointer;
}

/* Banar Section */
.banar_section h1 {
   font-weight: 700;
   font-size: 2.3rem;
}

.banar_section p {
   color: #0c0c0c;
   margin: 1.2rem 0;
}

.banar_section a > i {
   margin-left: 10px;
}

.banar_image {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url("/photos/Circle\ design.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
}

.banar_image img {
   width: 60%;
}
