*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #faf0f0;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   margin: 0 auto;
   width: 100%;
}
main {
   padding: 0 6%;
}

section {
   padding: 100px 0;
}

/* Reuseable Class Declare here */
.row {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.column {
   width: 50%;
   flex: 1;
}

.section_title {
   text-align: center;
   font-size: 2rem;
   font-weight: 700;
   padding: 1rem 0;
   margin-bottom: 50px;
}

.btn_primary {
   padding: 0.4rem 1rem;
   background-color: #7c67ed;
   text-decoration: none;
   color: white;
   vertical-align: middle;
   border-radius: 50px;
   transition: all 0.4s ease-in;
   cursor: pointer;
}

.btn_primary:hover {
   background-color: #4324e9;
}

/* Header section */
header {
   padding: 35px 6%;
}

header .container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.header_logo {
   flex: 2;
}

.header_logo span {
   font-size: 1.3rem;
   font-weight: bold;
}

.header_navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

.header_navbar > ul {
   display: flex;
}

.header_navbar > ul > li {
   list-style: none;
   padding: 0.3rem 0.5rem;
}

.header_navbar > ul > li > a {
   text-decoration: none;
   color: black;
   cursor: pointer;
   font-weight: 600;
   font-size: 0.9rem;
   transition: color 0.3s ease-in-out;
}

.header_navbar > ul > li > a:hover {
   color: gray;
}

.header_navbar .search_icon {
   margin-left: 10px;
   cursor: pointer;
}

.header_shoping_icon {
   margin-left: 20px;
   cursor: pointer;
}

/* Banar Section */
.banar_section h1 {
   font-weight: 700;
   font-size: 2.3rem;
}

.banar_section p {
   color: #0c0c0c;
   margin: 1.2rem 0;
}

.banar_section a > i {
   margin-left: 10px;
}

.banar_image {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url("/photos/Circle\ design.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
}

.banar_image img {
   width: 60%;
}

/* More Item Section */

.more_items_section .item_body {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
}

.more_items_section .item_body .item_card {
   background-color: #ffffff;
   padding: 1.1rem;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.548);
   border-radius: 3px;
}

.item_card .item_image {
   width: 100%;
   margin-bottom: 1.5rem;
}

.item_card .item_image img {
   width: 100%;
   max-height: 220px;
}

.item_title {
   margin-bottom: 1rem;
   font-size: 1.3rem;
   color: #242424;
}

.item_price {
   font-size: 1.2rem;
}

.item_desc {
   font-weight: bold;
   color: #777777;
}

.see_more {
   text-align: right;
   margin-top: 50px;
}

.see_more_btn {
   color: #7c67ed;
   text-decoration: none;
   transition: all 0.4s ease-in;
   padding: 0.4rem 1rem;
   vertical-align: middle;
   cursor: pointer;
   border-radius: 50px;
}

.see_more_btn > i {
   margin-left: 10px;
}

.see_more_btn:hover {
   background-color: #7c67ed;
   color: white;
}

footer {
   background-color: #161616;
}

footer .container {
   padding: 50px 0;
   text-align: center;
   color: white;
}

.footer_title {
   font-size: 1.2rem;
}

.footer_body > p {
   color: #818181;
}

.footer_icon {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}
.footer_icon a {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #7c67ed;
   border-radius: 100px;
   width: 35px;
   height: 35px;
   text-decoration: none;
   margin: 0 0.4rem;
   transition: all 0.4s ease-in;
}

.footer_icon > a > i {
   color: white;
}

.footer_icon > a:hover {
   background-color: #4324e9;
}